@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: ghostwhite;
}

.main-section {
	margin: 0 auto;
	margin-top: 130px;
	padding: 0;
}

.modal-content {
	background-color: #fff;
	padding: 50px 50px;
}

.login-form-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 3;
}

.form-group {
	margin-bottom: 25px;
}

.form-group input {
	font-size: 18px;
	height: 42px;
	border-radius: 5px;
	border: 0;
	background-color: #e6e6e6;
	padding-left: 45px;
}

.lnr-user {
	font-size: 22px;
	position: absolute;
	left: 28px;
	padding-top: 10px;
}

.lnr-lock {
	font-size: 22px;
	position: absolute;
	left: 28px;
	padding-top: 10px;
}

button {
	height: 42px;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 50px;
}

.btn {
	background-color: #0250c5;
	color: #fff;
}

.btn:hover {
	background: #053276;
}

.btn:focus {
	box-shadow: none;
}